{{#unless _id}}
<script>
 $('#createState').addClass('active');
</script>
{{/unless}}

<style>
 form {
   padding-left: 40px;
   padding-right: 40px;
 }
</style>

<form class="form-horizontal" action="/api/editState/{{_id}}" method="post">
  <fieldset>

    <div class="form-group">
      <label class="col-md-4 control-label" for="name">Name</label>  
      <div class="col-md-4">
        <input value="{{name}}" name="name" type="text" placeholder="name" class="form-control input-md" required="">
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label" for="brightness">Brightness</label>  
      <div class="col-md-4">
        <input name="brightness" type="text" placeholder="brightness" class="form-control input-md" pattern="[0-9]*">
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label" for="saturation">Saturation</label>  
      <div class="col-md-4">
        <input name="saturation" type="text" placeholder="saturation" class="form-control input-md" pattern="[0-9]*">
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label" for="hue">Hue</label>  
      <div class="col-md-4">
        <input name="hue" type="text" placeholder="hue" class="form-control input-md" pattern="[0-9]*">
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label" for="transitionTime">Transition Time</label>  
      <div class="col-md-4">
        <input name="transitionTime" type="text" placeholder="transition time" class="form-control input-md" pattern="[0-9]*">
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label" for="isOn">On-ness</label>
      <div class="col-md-4"> 
        <label class="radio-inline" for="radios-1">
          <input type="radio" name="isOn" id="radios-0" value="on" checked="checked">
          on
        </label> 
        <label class="radio-inline" for="radios-1">
          <input type="radio" name="isOn" id="radios-1" value="off">
          off
        </label>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label" for="button1id"></label>
      <div class="col-md-8">
        <button id="saveButton" type="submit" class="btn btn-success">Save</button>
        <button id="cancelButton" class="btn btn-primary">Cancel</button>
        <button id="deleteButton" class="btn btn-danger">Delete</button>
      </div>
    </div>

  </fieldset>
</form>

