<form class="form-horizontal" action="/api/editCommand/{{#if lightCommand._id}}{{lightCommand._id}}{{/if}}" method="post">
<fieldset>
  
  <div class="form-group">
    <label class="col-md-4 control-label" for="name">Name</label>  
    <div class="col-md-4">
      <input name="name" type="text" placeholder="name" class="form-control input-md" required="" value="{{lightCommand.name}}">
    </div>
  </div>
  
  <div class="form-group">
    <label class="col-md-4 control-label">All</label>
    <div class="col-md-4">
      <select id="selectAll" class="form-control" onchange="setAllStates();">
        <option value="none">No Action</option>
        {{#states}}
        <option value="{{_id}}" {{#if selected}}selected{{/if}}>{{name}}</option>
        {{/states}}
      </select>
    </div>
  </div>

  {{#lightsAndStates}}
  <div class="form-group">
    <label class="col-md-4 control-label" for="{{@index}}">{{light.name}}</label>
    <div class="col-md-4">
      <select name="{{@index}}" class="form-control lightSelect">
        <option value="none">No Action</option>
        {{#states}}
        <option value="{{_id}}" {{#if selected}}selected{{/if}}>{{name}}</option>
        {{/states}}
      </select>
    </div>
  </div>
  {{/lightsAndStates}}
  
  <div class="form-group">
    <label class="col-md-4 control-label" for="button1id"></label>
    <div class="col-md-8">
      <button id="saveButton" type="submit" class="btn btn-success">Save</button>
      <a id="cancelButton" class="btn btn-primary" href="/">Cancel</a>
      {{#if lightCommand._id}}
      <a id="deleteButton" class="btn btn-danger" href="/deleteCommand/{{lightCommand._id}}">Delete</a>
      {{/if}}
    </div>
  </div>

</fieldset>
</form>


<style>
 form {
   padding-left: 40px;
   padding-right: 40px;
 }
</style>


<script>
 function setAllStates () {
   $('.lightSelect').val($('#selectAll').val());
 }
 $('#createCommand').addClass('active');
</script>
