* {
  font-family: 'Ubuntu Mono', sans-serif;
}

body {
  width: 100%;
}

.button-container {
  width: 100%;
}

.lightButton {
  width: 20vw;
  height: 20vw;
  float: left;
  margin: 2vw;
  display: table;
}