* {
  font-family: 'Ubuntu Mono', sans-serif;
}

a:link, a:visited {
  text-decoration:none;
  color: black;
}

body {
  width: 100%;
}

.button-container {
  width: 100%;
}

.button {
  width: 20vw;
  height: 20vw;
  float: left;
  margin: 2vw;
  display: table;
}